{% extends "account/base.html" %}
{% load i18n %}
{% load static %}
{% load account socialaccount %}

{% block content %}

{% get_providers as socialaccount_providers %}
               
                {% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Sign in using:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ol class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ol>
</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  
                  <div class="form-group">
                     <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  </div>
  {% endif %}

                  <div class="CTA">
                     <input type="submit" class="primaryAction" value="Login">
                  </div>
 
{% endblock %}