asgiref==3.2.10
attrs==20.3.0
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
coverage==5.3
cryptography==3.2.1
defusedxml==0.6.0
diff-match-patch==20200713
Django==3.1
django-allauth==0.43.0
django-crispy-forms==1.10.0
django-extensions==3.0.9
django-import-export==2.4.0
django-multiselectfield==0.1.12
django-prometheus==2.1.0
django-pwa==1.0.10
django-sslserver==0.22
et-xmlfile==1.0.1
Faker==0.9.1
graphviz==0.15
gunicorn==20.0.4
idna==2.10
iniconfig==1.1.1
jdcal==1.4.1
MarkupPy==1.14
mixer==6.1.3
oauthlib==3.1.0
odfpy==1.4.1
openpyxl==3.0.5
packaging==20.7
Pillow==8.0.1
pluggy==0.13.1
prometheus-client==0.9.0
py==1.9.0
pycparser==2.20
pydotplus==2.0.2
PyJWT==1.7.1
pyparsing==2.4.7
pytest==6.1.2
pytest-cov==2.10.1
pytest-django==4.1.0
python-dateutil==2.8.1
python-dotenv==0.15.0
python3-openid==3.2.0
pytz==2020.1
PyYAML==5.3.1
requests==2.25.0
requests-oauthlib==1.3.0
six==1.15.0
sqlparse==0.3.1
tablib==2.0.0
text-unidecode==1.2
toml==0.10.2
urllib3==1.26.2
Werkzeug==1.0.1
xlrd==1.2.0
xlwt==1.3.0

Sphinx==4.0.3
Pygments==2.9.0

sphinx_rtd_theme==0.5.2
sphinx-tabs==3.0.0
sphinx-intl==2.0.1

readthedocs-sphinx-search==0.1.0

# Test out hoverxref
git+https://github.com/readthedocs/sphinx-hoverxref@master

# Docs
sphinxemoji==0.1.8
sphinxcontrib-httpdomain==1.7.0
sphinx-prompt==1.4.0
sphinx-notfound-page==0.7.1
sphinx-autobuild==2021.3.14
myst-parser
sphinx_copybutton

# Linting
rstcheck==3.3.1