{% extends 'base.html' %}

{%block main_content%}
<div class="section red lighten-5">

<div class="row">
<div class="input-field col m2">
    <select>
      <option value="" disabled selected>Search By</option>
      <option value="name">Name</option>
      <option value="usn">USN</option>
      <option value="department">Department</option>
    </select>
    <label>Filter by</label>
  </div>
  
  <div class="input-field col s6">
      <input type="text" >
      <label class="active" for="first_name2">Enter</label>
  </div>

  <div class="input-field col s1">
      <label>
        <input type="checkbox" />
        <span>Placed</span>
      </label>  
  </div>



 

 
</div>





    <h1>Student</h1>
    
    {{student.name}}

    {% for application in applications %}


    {{ application }}
    {{ application.offer }}
    {{ application.offer.no_of_stages }}
    <hr> 
    {% endfor %}



</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
  });
</script>
{%endblock%}


