{% extends 'base.html' %}

{%block main_content%}
<div class="section red lighten-5">

    <div class="row">
        <div class="input-field col m2">
            <select>
                <option value="" disabled selected>Search By</option>
                <option value="1">Name</option>
                <option value="2">USN</option>
                <option value="3">Department</option>
            </select>
            <label>Filter by</label>
        </div>

        <div class="input-field col s6">
            <input type="text">
            <label class="active" for="first_name2">Enter</label>
        </div>

    </div>




    <ul>
        {% for student in object_list %}
        <!-- post card -->
        <div class="flex bg-white shadow-md rounded-lg mx-4 my-4 md:mx-auto max-w-md md:max-w-2xl " 
        {% if student.is_placed %} style="border-left: 7px solid green " {%endif%}>
            <!--horizantil margin is just for display-->
            <div class="flex items-start px-4 py-6">
                <img class="w-12 h-12 rounded-full object-cover mr-4 shadow"
                    src="https://images.unsplash.com/photo-1542156822-6924d1a71ace?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                    alt="avatar">
                <div class="">
                    <div class="flex items-center justify-between">
                        <h2 class="text-lg font-semibold text-gray-900 -mt-1"><a href="{{student.get_absolute_url}}"> {{ student.name }} ({{ student.USN }})</a> </h2>
                        <span class="text-md text-gray-700">CGPA: {{ student.CGPA }}</span>
                    </div>
                    <p class="text-gray-700">{{ student.department }}</p>
                    <p class="mt-3 text-gray-700 text-md">
                        Lorem ipsum, dolor sit amet conse. Saepe optio minus rem dolor sit amet!
                    </p>
                    <div class="mt-4 flex items-center">
                      <a href="{{ student.website }}"><i class="material-icons blue-text round mx-2">link</i></a>
                      <a href="{{ student.linkedin }}"><i class="material-icons blue-text round mx-2">account_circle</i></a>
                        
                        
                    </div>  
                </div>
            </div>
        </div>



       
        {% empty %}
        <li>No articles yet.</li>
        {% endfor %}
    </ul>

</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });
</script>
{%endblock%}


{% block pagination %}
{% if is_paginated %}
<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock %}