{% load pwa %}
{% load static %}
{% block main %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>RVCE Career Portal</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="{%static "app/img/favicon/apple-icon-57x57.png"%}">
  <link rel="apple-touch-icon" sizes="60x60" href="{%static "app/img/favicon/apple-icon-60x60.png"%}">
  <link rel="apple-touch-icon" sizes="72x72" href="{%static "app/img/favicon/apple-icon-72x72.png"%}">
  <link rel="apple-touch-icon" sizes="76x76" href="{%static "app/img/favicon/apple-icon-76x76.png"%}">
  <link rel="apple-touch-icon" sizes="114x114" href="{%static "app/img/favicon/apple-icon-114x114.png"%}">
  <link rel="apple-touch-icon" sizes="120x120" href="{%static "app/img/favicon/apple-icon-120x120.png"%}">
  <link rel="apple-touch-icon" sizes="144x144" href="{%static "app/img/favicon/apple-icon-144x144.png"%}">
  <link rel="apple-touch-icon" sizes="152x152" href="{%static "app/img/favicon/apple-icon-152x152.png"%}">
  <link rel="apple-touch-icon" sizes="180x180" href="{%static "app/img/favicon/apple-icon-180x180.png"%}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{%static "app/img/favicon/android-icon-192x192.png"%}">
  <link rel="icon" type="image/png" sizes="32x32" href="{%static "app/img/favicon/favicon-32x32.png"%}">
  <link rel="icon" type="image/png" sizes="96x96" href="{%static "app/img/favicon/favicon-96x96.png"%}">
  <link rel="icon" type="image/png" sizes="16x16" href="{%static "app/img/favicon/favicon-16x16.png"%}">
  <link rel="manifest" href="{%static "app/img/favicon/manifest.json"%}">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static "app/vendor/bootstrap/css/bootstrap.min.css"%}" rel="stylesheet">
  <link href="{%static "app/vendor/icofont/icofont.min.css"%}" rel="stylesheet">
  <link href="{%static "app/vendor/boxicons/css/boxicons.min.css" %}" rel="stylesheet">
  <link href="{%static "app/vendor/venobox/venobox.css"%} " rel="stylesheet">
  <link href="{%static "app/vendor/owl.carousel/owl.carousel.min.css"%} " rel="stylesheet">
  <link href="{%static "app/vendor/aos/aos.css"%} " rel="stylesheet">

  <link href="{%static "app/css/style-landing.css"%} " rel="stylesheet">

  
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top ">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i> <a href="mailto:placements@rvce.edu.in">placements@rvce.edu.in</a>
        <i class="icofont-phone"></i> +91 80671 78021
      </div>
      <div class="social-links">
        <a href="https://www.facebook.com/RVCEngineering" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="https://www.instagram.com/rvcollegeofengineering" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="https://www.linkedin.com/school/rvcengineering" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
      <h1 class="logo mr-auto"><a href="index.html">RVCE</a></h1>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#hero">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Facilities</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact</a></li>
          {%if user.is_authenticated%}
            <li><a href="{%url 'dashboard'%}">Dashboard</a></li>
          {%else%}
            <li><a href="{%url 'account_login'%}">Login</a></li>
          {%endif%}
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1>Welcome to <span style="color: red">RVCE Career </span>Portal</h1>
      <h2>Internships | Placements</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <span>About</span>
          <h2>About</h2>
          <p>A little bit about our organization</p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="{%static "app/img/about.jpg"%}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <p class="font-italic">
              R V College of Engineering is one of the top colleges in India with almost around 95% of the eligible students are placed through campus selection.
            </p>
            <p>
              This Career Portal aims to provide information on companies offering internships or jobs so that students may view and assess their opportunities.
            </p>
            <ul>
              <li><i class="icofont-check-circled"></i> To provide a platform for student database management for placement related activities.</li>
              <li><i class="icofont-check-circled"></i> To provide the students as well as Student Placement Coordinators and concerned academic staff the day to day placement details in the form of reports.</li>
              <li><i class="icofont-check-circled"></i> To assist in keeping track of students and companies involved in the internship and placement activities.</li>
            </ul>
            <p>
              RVCE has consistently maintained an excellent recruitment record. The graduates and post- graduates of RVCE have been recruited by some of the world's leading corporate, besides leading Indian companies.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up">
            <div class="box">
              <span><h1>2018</h1></span>
              <h4>Rank 58</h4>
              <!-- <p>Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat</p> -->
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="150">
            <div class="box">
              <span><h1>2019</h1></span>
              <h4>Rank 63</h4>
              <!-- <p>Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para dest</p> -->
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <span><h1>2020</h1></span>
              <h4>Rank 70</h4>
              <!-- <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis</p> -->
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <span>Facilities</span>
          <h2>Facilities</h2>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Department of Placement and Training</a></h4>
              <p>The academic excellence at RVCE, which is one of the top colleges of India; is reflected in its student's exemplary record in placements in the corporate and engineering sectors</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="150">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Guides and Infrastructure</a></h4>
              <p>The Department of Placement & Training is headed by Prof. D Ranganath, Dean of Placement and Training. With 24/7 support also available the students are given an excellent platform.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Awesome Support</a></h4>
              <p>The Career Portal provides a platform for student database management for placement related activities, in addition it ensures that everyone is upto date with the details.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="450">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="">Professional and Simple Design</a></h4>
              <p>It is user friendly and helps to ensure that students, placement faculty, coordinators are upto date with the latest placement activity details.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="600">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href="">Multiuser Login and functionalities</a></h4>
              <p>Different access priviledges and functionalities. Student Login, SPC Login, Faculty Login, Placement Department Login.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="750">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">No missed oppurtunities</a></h4>
              <p>The portal aims to ensure that everyone is aware and upto date with the details of profiles, companies and cut offs.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Existing Student or Faculty?</h3>
          <p> Track internship and placement opportunities inside the campus.</p>
          <a class="cta-btn" href="#">LOGIN</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <span>Team</span>
          <h2>Team</h2>
          <p>We are team of talented people trying to make an impact </p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="{%static "app/img/team/team-3.jpg"%}" alt="">
              <h4>Dr. Padmashree</h4>
              <span>Information Science and Engineering</span>
              <p>
                We need to accept that we won’t always make the right decisions, that we’ll screw up royally sometimes – understanding that failure is not the opposite of success, it’s part of success.
              </p>
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="{%static "app/img/team/team-1.jpeg"%}" alt="">
              <h4>Ayush Kumar</h4>
              <span>Information Science and Engineering</span>
              <p>
                When one door of happiness closes, another opens; but often we look so long at the closed door that we do not see the one which has been opened for us.
              </p>
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="{%static "app/img/team/team-2.jpeg"%}" alt="">
              <h4>Ankit Kr. Singh</h4>
              <span>Information Science and Engineering</span>
              <p>
                Don’t limit yourself. Many people limit themselves to what they think they can do. You can go as far as your mind lets you. What you believe, remember, you can achieve.
              </p>
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <span>Contact</span>
          <h2>Contact</h2>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>R V College of Engineering, Mysuru Road, Bengaluru - 560059</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>placements@rvce.edu.in</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+91 80671 78021</p>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up">

          <div class="col-lg-6 ">
            <iframe class="mb-4 mb-lg-0" src="https://maps.google.com/maps?q=RV%20College%20of%20Engineering&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Career Portal</h3>
              <p>
                R.V. College of Engineering, <br>
                Bangalore, Karnataka - 560059<br><br>
                <strong>Phone:</strong> +91 80671 78021<br>
                <strong>Email:</strong> placements@rvce.edu.in<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Facilities</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#team">Team</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Want to know more about us? <br> Subscribe to our newsletter</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{%static "app/vendor/jquery/jquery.min.js"%} "></script>
  <script src="{%static "app/vendor/bootstrap/js/bootstrap.bundle.min.js"%} "></script>
  <script src="{%static "app/vendor/jquery.easing/jquery.easing.min.js"%} "></script>
  <script src="{%static "app/vendor/php-email-form/validate.js"%} "></script>
  <script src="{%static "app/vendor/isotope-layout/isotope.pkgd.min.js"%} "></script>
  <script src="{%static "app/vendor/venobox/venobox.min.js"%} "></script>
  <script src="{%static "app/vendor/owl.carousel/owl.carousel.min.js"%} "></script>
  <script src="{%static "app/vendor/aos/aos.js"%} "></script>

  <!-- Template Main JS File -->
  <script src="{%static "app/js/main.js"%}"></script>

</body>

</html>

{%endblock%}
