{% extends 'app/base.html' %}

{% block main %}

<form method="GET" action="{%url 'offers' %}">
    <input type="text" name="name" placeholder="Search">
    <input type="checkbox" name="eligible_only">
    <label for="name">Eligible Only</label>
    <input type="checkbox" name="dream_only">
    <label for="name">Dream</label>
    <input type="checkbox" name="open_dream_only">
    <label for="name">Open Dream</label>
    <input type="submit" value="Filter">

</form>
<h1>Offers</h1>
<ul>
{% for offer in object_list %}
    <!-- <li>{{ article.pub_date|date }} - {{ article.headline }}</li> -->
    <li><a href="{%url 'offer_details' offer.id %}">{{offer}}</a>

        <p>
            {{offer.note}}
        </p>
    </li>

{% empty %}
    <li>No offers yet.</li>
{% endfor %}
</ul>

{% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock %} 
{%endblock%}